.DatePicker {
  background: white;
  display: flex;
  flex-direction: column;
  height: 150px;
  padding: 1em;
  position: absolute;
  bottom: 2em;
  left: 2em;
  right: 2em;
  z-index: 5000;

  &-container {
    flex-grow: 1;
    max-height: 100%;

    svg {
      max-height: 100%;
    }

    .timeline {
      stroke: black;
    }

    .tick {
      stroke: black;
    }

    .current-date-marker {
    }
  }
}
